# ==========================================
# ENTORNO VIRTUAL
# ==========================================

env/
env_demo/
venv/
.venv/


# ==========================================
# ARCHIVOS TEMPORALES DE PYTHON
# ==========================================

__pycache__/
*.py[cod]
*$py.class


# ==========================================
# ARCHIVOS GENERADOS POR EL SISTEMA
# ==========================================

uploads/
resultados/
logs/
graficas/


# ==========================================
# DATASETS Y ARCHIVOS CSV
# ==========================================

data/*.csv
*.csv


# ==========================================
# ARCHIVOS COMPRIMIDOS GENERADOS
# ==========================================

*.zip


# ==========================================
# ARCHIVOS DE EDITORES
# ==========================================

.vscode/
.idea/


# ==========================================
# ARCHIVOS DEL SISTEMA OPERATIVO
# ==========================================

.DS_Store
Thumbs.db
desktop.ini


# ==========================================
# ARCHIVOS TEMPORALES
# ==========================================

*.tmp
*.temp
*.log